doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description", content="“Welcome to Hotel The Moon, a premier hotel and restaurant located in the heart of Sonepur, Odisha. Enjoy luxurious accommodations, exquisite dining, and exceptional service. Perfect for business and leisure travelers. Book your stay today!”")
        meta(name="keywords", content="Hotel The Moon, Sonepur hotel, Sonepur restaurant, luxury hotel Sonepur, best hotel in Sonepur, Sonepur accommodations, Odisha hotel, fine dining Sonepur, business travel Sonepur, leisure travel Sonepur,Hotel The Moon, best hotel Sonepur, Sonepur accommodation, best restaurant Sonepur, dining in Sonepur, Sonepur attractions, luxury hotel Sonepur, budget hotel Sonepur, family-friendly hotel Sonepur, romantic getaway Sonepur, best places to stay Sonepur, best places to eat Sonepur, travel Sonepur, hotel with restaurant Sonepur, Sonepur tourism")
        link(rel="stylesheet" href="/css/common.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/responsive.css")
        link(rel="shortcut icon" href="/./images/logo.png" type="image/x-icon")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
        title Hotel The Moon
    body 
        #loading 
            .loader 
        //- content
        block content
        script(src="/./js/frontend.js") 
